<section>
    <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale text-center rounded-0"
         style="background-image:url(https://blogzine.webestica.com/assets/images/blog/16by9/06.jpg); background-position: center left; background-size: cover; height: calc(100vh - 56px);">
        <!-- Card Image overlay -->
        <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
            <div class="w-100 my-auto">
                <!-- Card title -->
                <h2 class="text-white display-5">10 tell-tale signs you need to get a new startup.</h2>
                <!-- Card info -->
                <ul class="nav nav-divider text-white align-items-center justify-content-center">
                    <li class="nav-item">
                        <div class="nav-link">
                            <div class="d-flex align-items-center text-white position-relative">
                                <div class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle"
                                         src="https://blogzine.webestica.com/assets/images/avatar/11.jpg" alt="avatar">
                                </div>
                                <span class="ms-3">by <a href="#"
                                                         class="stretched-link text-reset btn-link text-decoration-none">Louis</a></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">Nov 15, 2022</li>
                    <li class="nav-item">5 min read</li>
                    <li class="nav-item">
                        <!-- Card category -->
                        <a href="#" class="badge text-bg-danger text-decoration-none"><i
                                class="fas fa-circle me-2 small fw-bold"></i>Lifestyle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>